.book-container {
  display: flex;
  margin: 20px;
}

.book-cover {
  height: 368px;
  width: 261px;
}

.book-information {
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
  padding: 0 40px;
}

.book-title {
  font-size: $text-big;
  font-weight: bold;
  padding-bottom: 30px;
}

.book-gender {
  color: $gray;
  font-size: $text-medium;
  font-weight: bold;
}

.book-property-title {
  font-size: $text-medium;
  font-weight: bold;
  padding-bottom: 20px;
}

.book-property-content {
  color: $gray;
  font-size: $text-paragraph;
}
