.book-container {
  background-color: $white;
  box-shadow: 6px 6px 5px rgba($black, 0.4);
  display: flex;
  left: 50%;
  padding: 25px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.book-cover {
  height: 340px;
  width: 240px;
}

.book-cover-image {
  position: relative;
  &::after {
    background: url(./assets/images/badge.png) no-repeat;
    background-size: 100%;
    bottom: 256px;
    content: '';
    height: 110px;
    left: 186px;
    position: absolute;
    transform: rotate(12deg);
    width: 72px;
  }
}

.book-information {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100%;
}

.book-title {
  font-size: $text-big;
  font-weight: bold;
  padding-bottom: 40px;
  position: relative;
  &::after {
    background-color: $light-green;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 100%;
  }
}

.book-property {
  padding-bottom: 6px;
}

.book-gender {
  color: $gray;
  font-size: $text-medium;
  font-weight: bold;
}

.book-property-title {
  font-size: $text-medium;
  font-weight: bold;
  padding-bottom: 20px;
}

.book-property-content {
  color: $gray;
  font-size: $text-paragraph;
}
