.book-container {
  background-color: $white;
  box-shadow: 6px 6px 5px rgba($black, 0.4);
  display: flex;
  left: 50%;
  margin: 20px;
  padding: 25px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.book-cover {
  height: 340px;
  width: 240px;
}

.book-information {
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
  padding: 0 40px;
}

.book-title {
  font-size: $text-big;
  font-weight: bold;
  padding-bottom: 30px;
  &::after {
    background-color: $light-green;
    content: '';
    height: 4px;
    left: 38%;
    position: absolute;
    top: 70px;
    width: 450px;
  }
}

.book-gender {
  color: $gray;
  font-size: $text-medium;
  font-weight: bold;
}

.book-property-title {
  font-size: $text-medium;
  font-weight: bold;
  padding-bottom: 20px;
}

.book-property-content {
  color: $gray;
  font-size: $text-paragraph;
}
