.card-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 0;
  max-width: 100%;
  padding: 130px 0 32px;
  width: 65%;
}

.card {
  background-color: $white;
  box-shadow: 6px 6px 5px rgba($black, 0.4);
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 0 35px 20px 35px;
  padding: 26px 0 0 28px;
  width: 198px;
}

.card-image {
  height: 200px;
  width: 142px;
}

.card-title {
  font-size: $text-medium;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 10px;
  position: relative;
  text-align: left;
}

.card-release {
  color: $gray;
}
