<div class="container">
  <div class="list-container">
    <div class="menu">
      <div class="item-menu" [ngClass]="{'menu-active': isActive == 1}" (click)="isActive=1">realizar cambio</div>
      <div class="item-menu" [ngClass]="{'menu-active': isActive != 1}" (click)="isActive=2">listado de monedas</div>
    </div>
    <div *ngIf="isActive != 1">
      <app-currency-list [prices]="prices"></app-currency-list>
    </div>
    <div *ngIf="isActive == 1">
      <app-exchange-currency [prices]="prices"></app-exchange-currency>
    </div>
  </div>
</div>
