<div class="exchange">
  <div class="exchange-content">
    <div class="header">
      <h1>Realizar cambio</h1>
      <h2>Seleccione las monedas</h2>
    </div>
    <div class="wrapper-input">
      <span class="input-icon">$</span>
      <input type="text" class="exchange-input">
    </div>
    <div class="wrapper-select">
      <span class="select-icon"></span>
      <select name="" id="" class="exchange-select">
        <option *ngFor="let price of prices" class="option-select">{{ price.id_currency }}</option>
      </select>
    </div>
    <div class="wrapper-select">
      <span class="select-icon"></span>
      <select name="" id="" class="exchange-select">
        <option *ngFor="let price of prices" class="option-select">{{ price.id_currency }}</option>
      </select>
    </div>
    <div class="wrapper-input disabled">
      <span class="input-icon">$</span>
    </div>
  </div>
  <div class="exchange-icon">
    <img class="img-exchange" src="../../../assets/exchange.png" alt="">
  </div>
</div>
