@import 'src/scss/variables/colors';
@import 'src/scss/variables/fonts';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
}

.exchange {
  display: flex;
  height: 500px;
  justify-content: center;
  width: 100%;
}

.header {
  display: grid;
  grid-gap: 10px 0;
  margin-top: 25px;
}

.exchange-content {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  padding-left: 30px;
  width: 350px;
}

.exchange-icon {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 35px;
}

.img-exchange {
  cursor: pointer;
  object-fit: cover;
  position: absolute;
  top: 248px;
  width: 30px;
}

.wrapper-input {
  border: 1px solid $nobel;
  border-radius: 20px;
  height: 50px;
  position: relative;
  width: 100%;
}

.input-icon {
  bottom: 0;
  color: $nobel;
  font-size: $text-tabs;
  left: 11px;
  position: absolute;
  top: 17px;
}

@mixin baseInput {
  color: $nobel;
  font-size: $text-tabs;
  height: 48px;
  padding-left: 14px;
  text-align: center;
  width: 85%;
}

.exchange-input {
  @include baseInput;
}

.exchange-input-quantity {
  background: $light-gray;
  @include baseInput;
  opacity: 0.8;
}

.wrapper-select {
  border: 1px solid $nobel;
  border-radius: 20px;
  height: 50px;
  position: relative;
}

.select-icon {
  background-image: url(../../../assets/down-arrow.png);
  background-size: 100%;
  height: 23px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 23px;
}

.exchange-select {
  background-color: transparent;
  color: $nobel;
  font-size: $text-medium;
  height: 100%;
  text-align: center;
  text-align-last: center;
  width: 100%;
}

.option-select {
  background-color: red;
  height: auto;
}
